.pokedexStyle {
    display: flow;
    text-align: center;
    vertical-align: middle;

    @media only screen and (max-width: 300px) {
        display: inline-flex;
        width: 100px;
    }
}

.tab {
    cursor: pointer;
}

html, body {
    background-color: white;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}